name: VMA CI
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main
jobs:
  ci:
    uses: ddeuterio/vma-gh-workflow/.github/workflows/ci.yml@main
    secrets: inherit
    with:
      config-file-path: .github/config.yml
